# Automatic summarization

Risorse usate:
- Nasari

In [126]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import MWETokenizer #tiene conto delle multiword expressions
from nltk.corpus import wordnet as wn

In [127]:
stop_words = set(stopwords.words('english')) #remove stop words
mwes = [x for x in wn.all_lemma_names() if '_' in x]
mwes = [tuple(x.split('_')) for x in mwes]
tokenizer = MWETokenizer(mwes, separator=' ')
lemmatizer = WordNetLemmatizer()

def pre_processing(document):
    document = re.sub(r'[^\w\s]',' ',document) #remove punctuation
    document = document.lower()
    document = tokenizer.tokenize(document.split())
    document = [lemmatizer.lemmatize(token) for token in document]  
    document = [w for w in document if not w in stop_words]
    return document

## Individuazione dell'arogmento del testo

### Nasari vectors

In [128]:
nasari_vectors = pd.read_csv('data/dd-small-nasari-15.txt', on_bad_lines='skip', header=None, sep=';')
nasari_vectors.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,bn:00000013n,Million,million_209.35,number_146.31,mathematics_61.3,long scale_53.31,real number_50.43,numeral_50.35,short scale_50.12,digit_42.17,bally_41.77,millionaire_41.31,penguin_41.11,markov_40.61,complex number_38.37,infinity_36.79
1,bn:00000086n,Day,day_635.03,planet_259.64,sun_258.79,earth_255.66,calendar_249.75,time_241.25,clock_211.54,moon_184.24,orbit_169.14,month_150.51,hour_132.02,decimal_126.9,astronomical_111.73,leap year_102.2
2,bn:00000116n,Quarto,shakespeare_1768.19,quarto_653.03,play_455.97,henry vi_404.57,edition_332.93,hamlet_332.66,folio_295.89,titus_260.9,shrew_241.83,print_210.72,sonnet_197.9,octavo_180.97,petruchio_159.51,henry_144.59
3,bn:00000122n,Serotonin,serotonin_1841.08,5-ht_1605.34,receptor_1254.36,agonist_379.61,2c_368.6,neurotransmitter_355.56,leptin_283.0,drug_271.04,tryptophan_255.0,dopamine_239.95,serotonergic_204.52,antagonist_187.54,antidepressant_168.76,neuron_167.81
4,bn:00000125n,Sextet,number_657.44,digit_240.04,sextet_157.44,divisor_137.04,sum_130.18,numeral_91.21,six_85.29,prime_83.38,harshad_83.36,duodecimal_80.9,perfect_77.23,integer_74.51,twelve_69.88,semiperfect_58.71

In [129]:
text = open('data/docs/Napoleon-wiki-test.txt', 'r').read().split('\n')
text = [line for line in text if line != '']

text_preprocessed = [pre_processing(line) for line in text[0:]]
for line in text_preprocessed:
    for word in line:
        if word not in nasari_vectors[0].values:
            line.remove(word)

['napoleone', 'bonaparte']
['napoleon bonaparte', 'born', 'napoleone', 'di', 'buonaparte', 'wa', 'french', 'statesman', 'military leader', 'rose', 'prominence', 'french revolution', 'led', 'several', 'successful', 'campaign', 'french', 'revolutionary', 'war']
['wa', 'emperor', 'french', 'napoleon i', '1804', '1814', 'briefly', '1815', 'hundred', 'day', 'napoleon', 'dominated', 'european', 'global', 'affair', 'more than', 'decade', 'leading', 'france', 'series', 'coalition', 'napoleonic wars']

In [130]:
#import requests

#babelnet_token = '1e258739-f5e4-4961-8267-a2da4fe94572'
#word = 'dog'
#response = requests.get(f'https://babelnet.io/v8/getSynsetIds?lemma={word}&searchLang=EN&key={babelnet_token}')
#babelnet_id = response.json()[0]['id']
#print(babelnet_id)

In [131]:
#response.json()

## Creazione del contesto

## Pesatura dei paragrafi

Eseguita usanto la metrica Weighted Oveerlap